.main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 40px 25px 25px;

  border-right: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 240px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  margin-bottom: 5px;
  height: 40px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 80px;
  margin-right: 6px;
}

.product-rating-count {
  color: #017cb6;
  cursor: pointer;
  margin-top: 4px;
  font-size: 15px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.added-to-cart {
  color: #067d62;
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  opacity: 0;
}

.added-to-cart-visible {
  opacity: 1;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 10px;
  border-radius: 45px;
}
